.profile{
    background-color:  white;
    border-radius: 6px;
    width: 100%;
    display: inline-block;

    &_name{
        line-height: 18px;
        padding: 20px;
        .name{
            text-transform: uppercase;
            font-size: 17px;
            font-weight: bold;
        }
        .title{
            font-size: 14px;
            color: #787878;
        }
    }
    &_image{
        margin-top: -10px;
        -webkit-clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
        clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
        img{
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
    }
    &_information{
        top: 0;
        left: 0;
        margin: -40px 10px 30px;
        .timeline_content{
            width: 100%;
            margin-top: 2px;
            margin-bottom: 12px;
            a{
                text-decoration: none;
                color: #787878;
            }
        }
        .timelineItem_text{
            // width: 100% !important;
            font-size: 13.5px;
            color: #787878;
            font-weight: 400;
            & > span{
                
                color: black;
            }
        }
    }
    .btn-container{
        width: 100%;
        display: flex !important;
        justify-content: center ;
        margin-top: 20px;
    }
}