.contact_info{
    line-height: 40px !important;
    color: #787878 !important;
    font-size: 14px !important;
    & > span{
        color: black !important;
    }
    &-socials{
        a{
            .MuiSvgIcon-root{
                font-size: 20px !important;
                margin-right: 14px;
                color: black;
                transition: all 0.2s linear;
                &:hover{
                    font-size: 24px !important;
                }
            }
        }
    }
   
}
.inputText{
    border: 0.5px solid #ccc;
    &:focus{
        outline: none;
    }
}